body{
    background:url("../image/anime-landscape-library-nature-hd-wallpaper-preview.jpg");
    background-position:center;
    background-size:cover;
    height:45%;
    background-repeat: no-repeat;
}
.mh{
    position:absolute;
    top: -10px;
    left:1px;
    width:100%;    
    height:13%;

}
.head{
    position:relative;
    padding-bottom:1%;
    padding-top:60%;
    padding-right:3%;
    font-size:60px;
    font-family:Colonna MT;
    color:rgb(0, 0, 0);
    text-shadow:5px 5px 8px rgb(255, 255, 255);
}
.loginpng{
    position:relative;
    left:8%;
}
.admin{
    position:absolute; 
    bottom:92%; 
    left:43%;
    color: orange;
}
.admin b{
    font-family:Arial, Helvetica, sans-serif;
}
.admin span{
    position: relative;
    font: size 13px;
    color:aliceblue;
    font-family:Arial, Helvetica, sans-serif ;
    
}
.logout{
    position:fixed;
    right:20px;
    top:2%;

}
.logout:hover{
    position:fixed;
    height:100%;
    width:30px;
}
.home{
    position:absolute;
    left:20%;
    bottom:100%;
}
.home1{
    position:absolute;
    left:25%;
    bottom:71%;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    position: absolute;
    left:-30px;
    top:70px;
    height:100%;
    width:20%;
    background-color:slategrey;
    opacity:0.9;
}
li ol a{
    color:white;
    text-decoration: none;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
}
li ol a:hover{
    background-color: rgb(62, 61, 61);
    padding-top: 5%;
    padding-bottom:5%;
    padding-right:40%;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-left:4px solid orange;
}
/*......member dashboard.....*/
.member1{
    position:relative;
    left:26%;
    top:45%;
    background-color: aqua;
    width:18%;
    height:25%;
    border-radius:15px;
    border:transparent;
}

.member2{
    opacity:.8;
    position: relative;
    left:40px;
}
.member2:hover{
    height:80%;
    width:60%;
    
}
.member11{
        background-color:rgb(255, 255, 255);
        padding-bottom:5%;
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
    }
.member11 font{
    font-family:Arial, Helvetica, sans-serif;
    position:relative;
    left:35%;
    top:33%;
    text-decoration:none;

}
/*......book dashboard.....*/
.book1{
    position:relative;
    left:51%;
    bottom:6.8%;
    background-color: rgb(255, 0, 0);
    width:18%;
    height:53%;
    border-radius:15px;
    border:transparent;
}

.book2{
    opacity:.8;
    position: relative;
    left:60px;
    top:13%;
    height:70%;
    width:40%;
}
.book2:hover{
    height:80%;
    width:42%;
    
}
.book11{
        background-color:rgb(255, 255, 255);
        padding-bottom:5%;
        height:10%;
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
    }
.book11 font{
    font-family:Arial, Helvetica, sans-serif;
    position:relative;
    left:35%;
    top:33%;
    text-decoration:none;

}
/*......magazine dashboard.....*/
.magazine1{
    position:relative;
    left:76%;
    bottom:59%;
    background-color: rgb(8, 106, 16);
    width:18%;
    height:53%;
    border-radius:15px;
    border:transparent;
}

.magazine2{
    opacity:.8;
    position: relative;
    left:60px;
    top:13%;
    height:80%;
    width:40%;
}
.magazine2:hover{
    height:80%;
    width:43%;
    
}
.magazine11{
        background-color:rgb(255, 255, 255);
        padding-bottom:5%;
        height:10%;
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
    }
.magazine11 font{
    font-family:Arial, Helvetica, sans-serif;
    position:relative;
    left:35%;
    top:33%;
    text-decoration:none;

}
/*......issued dashboard.....*/
.issue1{
    position:relative;
    left:26.2%;
    bottom:35%;
    background-color: rgb(255, 255, 0);
    width:18%;
    height:55%;
    border-radius:15px;
    border:transparent;
}

.issue2{
    opacity:.8;
    position: relative;
    left:60px;
    top:13%;
    height:70%;
    width:40%;
}
.issue2:hover{
    height:80%;
    width:43%;
    
}
.issue11{
        background-color:rgb(255, 255, 255);
        padding-bottom:5%;
        height:10%;
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
    }
.issue11 font{
    font-family:Arial, Helvetica, sans-serif;
    position:relative;
    left:35%;
    top:33%;
    text-decoration:none;
}
/*......returned dashboard.....*/
.returned1{
    position:relative;
    left:51.5%;
    bottom:90%;
    background-color: rgb(132, 0, 255);
    width:18%;
    height: 55%;
    border-radius:15px;
    border:transparent;
}

.returned2{
    opacity:.8;
    position: relative;
    left:60px;
    top:13%;
    height:50%;
    width:20%;
}
.returned2:hover{
    height:60%;
    width:25%;
    
}
.returned11{
        background-color:rgb(255, 255, 255);
        padding-bottom:5%;
        height:10%;
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
    }
.returned11 font{
    font-family:Arial, Helvetica, sans-serif;
    position:relative;
    left:35%;
    top:33%;
    text-decoration:none;

}
/*......notreturned dashboard.....*/
.notreturned1{
    position:relative;
    left:76.5%;
    bottom:145%;
    background-color: rgb(225, 0, 255);
    width:18%;
    height: 53.5%;
    border-radius:15px;
    border:transparent;
}

.notreturned2{
    opacity:.8;
    position: relative;
    left:60px;
    top:13%;
    height:50%;
    width:20%;
}
.notreturned2:hover{
    height:60%;
    width:28%;
    
}
.notreturned11{
        background-color:rgb(255, 255, 255);
        padding-bottom:5%;
        height:10%;
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
    }
.notreturned11 font{
    font-family:Arial, Helvetica, sans-serif;
    position:relative;
    left:35%;
    top:33%;
    text-decoration:none;

}