body{
    background:url("../image/anime-landscape-library-nature-hd-wallpaper-preview.jpg");
    background-position:center;
    background-size:cover;
    height:45%;
}
.mh{
    position:absolute;
    top: -10px;
    left:1px;
    width:100%;    
    height:13%;

}
.head{
    position:relative;
    padding-bottom:1%;
    padding-top:40%;
    padding-right:3%;
    font-size:60px;
    font-family:Colonna MT;
    color:rgb(0, 0, 0);
    text-shadow:5px 5px 8px rgb(255, 255, 255);
}
.loginpng{
    position:relative;
    left:8%;
}
.admin{
    position:absolute; 
    bottom:92%; 
    left:43%;
    color: orange;
}
.admin b{
    font-family:Arial, Helvetica, sans-serif;
}
.admin span{
    position: relative;
    font: size 13px;
    color:aliceblue;
    font-family:Arial, Helvetica, sans-serif ;
    
}
.logout{
    position:absolute;
    right:20px;
    top:2%;

}
.logout:hover{
    position:absolute;
    height:100%;
    width:30px;
    
}
.home{
    position:absolute;
    left:20%;
    bottom:74%;
}
.home1{
    position:absolute;
    left:25%;
    bottom:71%;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

li{
    position: absolute;
    left:-30px;
    top:70px;
    height:100%;
    width:20%;
    background-color:slategrey;
    opacity:0.9;
}
li ol a{
    color:white;
    text-decoration: none;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
}
li ol a:hover{
    background-color: rgb(62, 61, 61);
    padding-top: 5%;
    padding-bottom:5%;
    padding-right:40%;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-left:4px solid orange;
}
.thirdyear{
    position:absolute;
    left:28%;
    top:24%;
    color:rgb(255, 255, 255);
    background-color: rgb(255, 191, 0);
    font-size:20px;
    border-radius: 20px;
    padding:8px;
    padding-bottom:2px;
    padding-top:2px;
    border-bottom:2px solid white;
    border-right:2px solid white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow:20px 10px 10px black;
}
.fet{
    position:absolute;
    left:20%;
    top:33%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    width:25%;  
    opacity: .9;
}
.fet th{
    background-color:rgb(0, 0, 0);
    color:aliceblue;
    padding-top: 1%;
    padding-bottom: 1%;
    
}
.fet td{
    padding-top:0.5%;
    padding-bottom: .5%;
    font-family:Arial, Helvetica, sans-serif;
 
    font-size:15px;

}
.fet tr:nth-child(odd){
    background-color:rgb(255, 174, 0);
}
.fet tr:nth-child(even){
    background-color:rgb(244, 222, 186);
}
    
form{
    position:absolute;
    right:80%;
}