body{
    background-image:url("../images/background.jpg");
    background-position: center;
    background-size: cover;

}
.heading{
    color:aliceblue;
    font-size: 35px;
    font-family: Arial Black;
    font-weight: bolder;
    position:absolute;
    top:8px;
    left:8%;
    letter-spacing: -3px;
}
.heading span{
    color:aqua;
    font-size: 40;
}
.sub{
    font-size: 10px;
    color:rgb(255, 255, 255);
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    position:absolute;
    top:50px;
    left:7.5%;
}
.apj{

    position:absolute;
    left:15%;
    top:0%;
    opacity:90%;
}
.qoutes{
    color:aliceblue;
    font-size: 21px;
    font-family:Century Gothic;
    position:absolute;
    top:77%;
    left:27.4%;
    text-align: center;
}
a{
    text-decoration: none;
    position:relative;
    left:50%;
    bottom:5%;
    font-family: 'Arial Narrow';
    font-weight: bold;
    font-size: 20px;
    color:white;
    width:5%;
    height:20%;
    padding-right:1px;
}
a:hover{
    color:rgb(0, 0, 0);
    border-bottom:2px solid rgb(255, 255, 255) ;
    border-right: 2px solid rgb(255, 255, 255);
    background-color: aqua;
    padding-right:10px;
    border-radius: 15px;

}

